.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}
.menu_link{
    background-color: rgba(240, 240, 240, 0.961);
    border-radius: 4px;
}
#test_app{
    border: 1px solid red;
    width: 96%;
    margin: 0 auto;
    height: 800px;
    background-color: rgba(0, 100, 0, 0.625);
}
body{
    background-color: darkolivegreen;
}