<div style="display: flex;">

    <div class="genres">
        <button @click="showAllGenres">Всі жанри</button>
        <button @click="filterByGenre('Сучасні автори')">Сучасні автори</button>
        <button @click="filterByGenre('Романтична проза')">Романтична проза</button>
        <button @click="filterByGenre('Детективи')">Детективи</button>    
        <button @click="filterByGenre('Трилери та жахи')">Трилери та жахи</button>
        <button @click="filterByGenre('Фантастика')">Фантастика</button>
        <button @click="filterByGenre('Фентезі')">Фентезі</button>
        <button @click="filterByGenre('Класична література')">Класична література</button>
            <label for="">Мін. Ціна</label>
            <input type="number" id="min_price" min="120">
            <label for="">Макс. Ціна</label>
            <input type="number" id="max_price" min="130">
            <button @click="FilterPrice">Застосувати</button>               
            <button @click="showAllPrice">Скинути фільтр</button>
    </div>


<input type="search" placeholder="Введіть назву або автора книги" id="elactic" v-model="searchTerm" @input="poshuk" class="input_search">

<div id="cart_block" v-if="showCart">
<div class="cart">
        <div class="cart_colection">
           
        </div>  
        <div class="order">
            <div class="oreder_content">
                <div style="padding: 10px; gap: 5px; display: flex; flex-direction: column;">
                    <h3 style="margin-bottom: 10px;">Ваше замовлення</h3>
                    <input v-model="phone" type="text" placeholder="Ваш номер телефону" class="inp_cart">
                    <input v-model="place" type="text" placeholder="Ваше місто" class="inp_cart">
                    <input v-model="postoffice" type="text" placeholder="Поштове відділення" class="inp_cart">
                    <p data-cart-delivery class="none"  style="margin-top: 10px;">
                        <span class="h5">Доставка:  </span>
                        <span class="delivery-cost">50 грн</span><br>
                        <span><small>Безкоштовно при замовлені від 600 грн</small></span>
                    </p>
                    <div style="display: flex; gap: 4px;">
                    <p>Повна вартість:</p>
                    <p class="total-price"></p>
                    </div>
                    <button>Замовити</button>
                </div>
            </div>

        </div>
</div>
</div>
<div style="width: 450px; height: auto; margin-top: 20px; position: relative; display: flex; flex-direction: column; align-items: center; left: 30%;">
    <h3 style="font-family:sans-serif; color: white; padding: 7px; position: relative; left: -12%;">Не знаєте що почитати? <br>Ми вам допоможемо!</h3>
    <div id="random-product"  style="color: aliceblue; border: 3px solid #151515; margin-bottom: 40px;  width: 350px; height: 230px; border-radius: 5px; overflow: hidden; border-radius: 5px;"></div>
    <button @click="getRandomProductFromFirebase()" style="position: absolute; left: 12%; bottom: 0; padding: 5px; background:transparent; border: none; color: white; font-size: 20px; font-weight: bold;">Показати рандомну книгу</button><button @click="del()" style="position: absolute; bottom: -2px; left: 350px; padding: 5px; background:transparent; border: none; color: rgb(255, 0, 0); font-size: 20px; font-weight: bold;">X</button>
</div>
</div>


  

<div id="block-content">
    <div class="card" v-for="tovar in $root.content" :key="tovar.id">
        <div class="content">
          <div class="back">
            <div class="back-content">
                <div class="img">
                    <img  v-bind:src="tovar.img" alt="" class="book_img">
                </div>
                <div class="info">
                    <h3 id="h4" class="elast">{{tovar.name}}</h3>
                    <p style="margin-top: 15px;" class="writer">{{tovar.developer}}</p>
                    <p style="margin-top: 20px;" :class="tovar.genre">{{tovar.genre}}</p>
                    
                </div>
                <p class="tovar_price" style="position: absolute; bottom: 25px; right: 40px; font-size: 20px;">{{tovar.price}} <small>₴</small></p>
            </div>
          </div>
          <div class="front">
                    <p style="font-size: 17px; padding: 15px;">{{tovar.description}}</p>
                    <div style="display: flex;">
                        <div class="counter" style="margin-left: 90px; border: 1px solid black; height: 22px; background-color: rgb(117, 117, 117); border-radius: 15px; margin-top: 4px;">
                            <div class="control" data-action="minus">-</div>
                            <div class="current" data-counter>1</div>
                            <div class="control" data-action="plus">+</div>
                        </div>
                    <button data-cart type="button" class="btn_add_cart" style="margin-left: 20px;">Додати у кошик</button>                        
                    </div>

          </div>
        </div>
    </div>
</div>
