.tovar{
    border: 2px solid grey;
    height: auto;
    width: 220px;
    margin: 15px;
    margin-left: 30px;
}
.img{
    margin: 8px;
    height: 280px;
    width: 200px;
}
img{
    height: 280px;
    width: 200px;
}
.book{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.basket{
    display: flex;
    justify-content: space-around;
    font-size: 90%;
}
.hr{
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.products{
    display: flex;
    flex-wrap: wrap;
    /* width: 90%; */
    justify-content: space-around;
    margin: 5%;
    
}