body{
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-family:sans-serif;
    font-weight: 600;
    display: flex;
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
    background-image: url(img/blob-scene-haikei_edited2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 80%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.880);
    border-radius: 3px;
    z-index: 9999;
}
nav .logo{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    margin-top: 2px;
    margin-left: 55px;
}

.main_btn{
    width: 40px; 
    height: 40px;
    border: none; 
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
    /* border: 2px solid #6c6a6a;    */
    transition: 0.25s ease;
    background-color: #fff;
}
.main_btn:hover{
    background-color: rgb(20, 188, 244);
}
.main_btn_img{
    width: 100%; 
    height: 100%;
}
.icon_btn{
    display: flex;
    /* border: 2px solid orange; */
    border-radius: 3px;
    position: relative;
    left: 63%;
    padding: 3px;
}
.KV{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    transition: 0.25s ease;
}
.KV:hover{
    border-bottom: 2px solid hsl(0, 0%, 100%);
    transition: 1s;
}
#app{
    width: 100%;
    height: 100%;
}
.slider{
    width: 500px;
    height: 300px;
    overflow: hidden;
}
.slide{
    min-width: 500px;
    height: 300px;
    border-bottom: 2px solid rgb(91, 0, 152);
    border-top: 2px solid rgb(91, 0, 152);
    display: flex;
    justify-content: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-direction: column;
}
.arrow{
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin: 0 15px;
}
.arrow:hover{
    color: rgb(223, 211, 211);
}
.cart{
    width: auto;
    max-height: 500px;
    padding: 20px;
    color: #fff;
    display: flex;
    position: fixed;
    z-index: 999;
    left: 39%;
    background-color: #000000a0;
}
.order{
    margin-left: 20px;
}
.cart_img{
    width: 37%; 
    height: 100%;
    padding: 2px;
}
.img_item{
    width: 100%;
    height: 100%;
}
.cart_item{
    background-color: #000000eb;
    height: 130px;
    width: 250px;
    border-radius: 5px;
    /* border: 2px solid black; */
    display: flex;
}
.cart_colection{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 600px;
    gap: 10px;
    padding: 2px;
    overflow-y: auto;
}
.counter{
    display: flex;
    gap: 5px;
}
.control{
    cursor: pointer;
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}
.cart_info{
    /* border: 2px solid rebeccapurple; */
    height: auto;
    width: 65%;
    padding: 5px;
    font-weight: 300;
}
.cart_price{
    font-weight: 500;
}
.count_price{
    display: flex;
    margin-top: 5px;
    gap: 20px;
    position: relative;
    bottom: -15px;
    left: 50px;
}
.btn_close{
    height: 22px;
    width: 30px;
    font-size: 110%;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.25s ease;
}
.btn_close:hover{
    color: red;
}
.input_search{
    height: 55px;
    width: 400px;
    padding: 2px;
    background: rgba(0, 0, 0, 0.880);
    border: 2px solid rgb(24, 24, 24);
    color: #fff;
    outline: none;
    position: relative;
    left: 10%;
}
.input_search::placeholder{
    color: rgba(255, 255, 255, 0.923);
    position: relative;
    left: 2%;
    font-weight: bold;
    font-size: 15px;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-color: #fff;
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-close-round-256.png');
    background-size: cover;
    cursor: pointer;
}
.genres{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    background-color:rgba(0, 0, 0, 0.880);
    padding: 20px;
    height: 410px;

}
.genres label{
    font-size: 16px;
}
.genres input{
    outline: none;
    background-color: #ffffffea;
}
.genres button{
    background-color: transparent;
    color: #d1dddf;
    padding: 2px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
.genres button:hover{
    color: #ffffff;
    border-bottom: 2px solid rgb(77, 28, 255);
}
.inp_cart{
    background-color: white;
    border-radius: 2px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    height: 30px;
    font-size: 15px;
    font-weight: 700; 
    padding: 2px;
}
.inp_cart::placeholder{
    color: rgba(0, 0, 0, 0.923);
    position: relative;
    left: 2%;
    font-weight: bold;
    font-size: 14px;
}
